$google-blue: #4285f4;
$google-red: #ea4335;
$google-yellow: #fbbc05;
$google-green: #34a853;

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div {
    margin: auto;
    position: absolute;
    top: 200px;
    width: 100%;
    display: inline;
    z-index: 1000000000000;
}

#form1 {
    width: 400px;
    padding: 10px;
    font-size: 18px;
    margin-left: 35%;
    outline: none;
    background: rgb(255 255 255 / 10%);
    border-radius: 10px;
    border: 2px solid rgb(227 221 221 / 20%);
    color: black;
    transition: all 0.5s;

    &:hover {
        border: 2px solid rgba($google-blue, 0.5);
    }

    &:focus {
        border: 2px solid rgba($google-red, 0.8);
        background: white;
    }
}

#button {
    width: 80px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border-radius: 10px;
    border: 5px solid rgb(255 255 255 / 20%);
    color: rgb(255 255 255 / 80%);
    transition: all 0.5s;
    background: $google-yellow;

    &:hover {
        border: 5px solid rgba($google-blue, 0.5);
        background: $google-green;
    }

    &:focus {
        background: $google-red;
        border: 5px solid rgb(255 255 255 / 50%);
    }

    &:active {
        background: darken($google-red, 10%);
    }
}
